<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <br>
    <br>
    <br>
    <br>
    <hr>

    <button mat-button class="mat-primary">Mat Button</button>
    <button mat-raised-button class="mat-primary">Mat Raised Button</button>
    <button mat-flat-button class="mat-primary">Mat Flat Button</button>
    <button mat-icon-button class="mat-primary">I</button>
    <button mat-stroked-button class="mat-primary">Stroked</button>
    <button mat-fab class="mat-accent">F</button>
    <button mat-mini-fab class="mat-primary">MF</button>
    <hr>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
    <hr>

</div>




<router-outlet></router-outlet>
